

  .icon{
    margin-top:3.189rem ;
    margin-left:5.222rem ;
    width: 12.1rem;
    height: 3.05rem;
    cursor: pointer;
    
  }
  .form-field{
    margin-top: 14.1rem;
    margin-left:42.6rem ;
    margin-right: 42.6rem;
    margin-bottom: 12.078rem;
    border-box: 0.1rem solid red;
    height: ;
    width: ;
    
  }
  .text-registration-1-form {
    text-align: center;
    font-size: 3.6rem;
    font-family: "Covered By Your Grace", cursive;
    color: #2da950;
    
  
  }
 
  
  